body{
    background-image: url(dad.jpg) ;
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#clock-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
    color:wheat;
    backdrop-filter: blur(2px);
    background-color: hsla(0, 0%, 100%, 0.001);
    width: 100%;
}